html {
  font-size: 10px;
}

h1 {
  font-family: "Billabong", sans-serif;
  text-align: center;
  font-size: 13rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: rgb(59, 59, 85);
}

@font-face {
  font-family: "billabong";
  src: url("http://fonts.cdnfonts.com/css/billabong");
}
