html {
  font-size: 10px;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: "Billabong", sans-serif;
  text-align: center;
  font-size: 13rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: #3b3b55;
}

@font-face {
  font-family: "billabong";
  src: url("http://fonts.cdnfonts.com/css/billabong");
}

.photo-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0 0 -2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.remove-button {
  cursor: pointer;
  flex-basis: 48%;
  color: #ce4242;
  font-size: 1.5rem;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
  background-color: #fff;
}

.addIcon {
  margin: 20px auto;
  display: block;
  padding: 40px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23000000' viewBox='0 0 256 256'%3e%3crect width='256' height='256' fill='none'%3e%3c/rect%3e%3ccircle cx='128' cy='128' r='96' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='16'%3e%3c/circle%3e%3cline x1='88' y1='128' x2='168' y2='128' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3e%3c/line%3e%3cline x1='128' y1='88' x2='128' y2='168' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3e%3c/line%3e%3c/svg%3e")
    center no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}
